/** @format */

.select-option {
	height: 36px;
	width: 100px;
}

.input-field {
	height: 30px;
	width: 40%;
}
.geographical-input-field {
	height: 30px;
	width: 20%;
}
.search-button {
	width: 90px;
	background-color: white;
}

.search-form {
	display: flex;
}
